<!DOCTYPE html>
<html lang="en">
<head>
    
    ${require('raw-loader!./meta.html')}
    <script>${require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js')}</script>
    <script src="https://cdn.bootcss.com/react/16.8.6/umd/react.production.min.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.8.6/umd/react-dom.production.min.js"></script>
    <title>search</title>
</head>
<body>
    <div id="root"><!--HTML_PLACEHOLDER--></div>
    <!--INITIAL_DATA_PLACEHOLDER-->
</body>
</html>